/*haut/droit/bas/gauche*/
h1
{
	margin-bottom: 50px;

	border: 3px solid rgba(170,100,30,0.90);
	border-radius: 5px 20px;

	/*box-shadow: -10px 10px 2px 2px rgba(40,95,40,0.85);*/

	background-color: rgba(210,130,40,0.90);

	text-align: center;
}

h2
{
	border: 3px solid rgba(170,100,30,0.90);
	border-radius: 5px 20px;

	background-color: rgba(210,130,40,0.90);

	text-align: center;
}

#contenu
{
	display: flex;
	flex-direction: row;
}



legend
{
	border: 1px solid rgba(170,100,30,0.90);
	border-radius: 5px;

	box-shadow: 0px 2px 2px 0px;

	background-color: rgba(210,130,40,0.90);

	padding: 2px 5px 2px 5px;
	margin-left: 5px;
}

fieldset > fieldset > fieldset
{
	background-color: rgba(60,145,60,0.85);
}

fieldset > fieldset
{
	background-color: rgba(65,155,65,0.85);
}

fieldset
{
	border: 1px solid rgba(170,100,30,0.90);
	box-shadow: 0px 2px 2px 0px;

	padding: 10px 5px 10px 5px;

	background-color: rgba(70,165,70,0.85);
}

fieldset + fieldset
{
	margin-top: 10px;
}

fieldset > div
{
	display: flex;
	flex-direction: column;
}


fieldset > div > div
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

fieldset > div > *
{
	margin-top: 5px;
}



input[type="checkbox"]
{
	border: 10px solid rgba(170,100,30,0.90); 
	background-color: rgba(210,130,40,0.90);
}

input[type="text"]
{
	padding: 3px;
}



label, #temps > p
{
	margin-left: 5px;
	margin-right: 5px;
}



#nom, #ingredient
{
	/*padding: 2px 4px;*/
	/*width: 220px; height: 22px;*/
	border: 1px solid #AAA;
}

#nom:hover, #nom:focus, #ingredient:hover, #ingredient:focus
{
	border-color: #777;
}

#nom_result, #ing_result
{
	position: absolute;
	display: none;
	width: 228px;
	border: 1px solid #AAA;
	border-top-width: 0;
	background-color: #FFF;
}

#nom_result div, #ing_result div
{
	width: 220px;
	padding: 2px 4px;
	text-align: left;
	border: 0;
	background-color: #FFF;
}

#nom_result div:hover, .result_focus, #ing_result div:hover
{
	background-color: #DDD !important;
}




#ing_result > div > img, #ing_choisis > div > img
{
	width: 50px;
	height: 50px;

	padding: 3px;

	border: 1px solid black;
}

#ing_result > div > p, #ing_choisis > div > p
{
	flex: 1;

	text-align: center;
}

#ing_choisis > div
{
	background-color: rgba(55,135,55,0.85);

	border: 1px solid rgba(170,100,30,0.90);
	box-shadow: 0px 2px 2px 0px;

	margin-top: 5px;
	padding: 5px;
}

#ing_choisis > div > img
{
	background-color: rgba(50,125,50,0.85);

	border: 1px solid rgba(170,100,30,0.90);
	box-shadow: 0px 2px 2px 0px;
}




#resultats
{
	flex: 1;

	display: flex;
	flex-direction: column;

	text-align: center;

	margin-left: 50px;
}

#recette
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin-right: 25px;
	margin-top: 25px;
}

#recette > div
{
	margin-left: 25px;

	border: 1px solid rgba(170,100,30,0.90);
	box-shadow: 0px 2px 2px 0px;

	background-color: rgba(65,150,65,0.85);
}

#recette > div > a > div
{
	padding: 10px 5px 10px 5px;
}

#recette > div > a > div > img
{
	border: 1px solid rgba(170,100,30,0.90);
	box-shadow: 0px 2px 2px 0px;

	background-color: rgba(55,125,55,0.85);

	width: 200px;
	height: 200px;

	margin-top: 5px;